<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="image">
        <img src="{{ url_for('static', filename='images/brainn.png') }}" alt="Brain">

    </div>
    <div class="red-box">
        <h1>Alzheimer Detection</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" onchange="previewImage(event)">

            <button class="button" type="submit">Tanı Yap</button>
            <br><br>
            <div style="display: flex; justify-content: center; align-items: center; height: 50px;">
                <img id="preview" style="max-width: 100px; max-height: 500px;"/>
            </div>
            
        </form>
        <div id="result"></div>
    </div>
    <script>
        const form = document.querySelector("form");
        const resultDiv = document.getElementById("result");
    
        form.addEventListener("submit", async (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            const response = await fetch("/predict", {
                method: "POST",
                body: formData
            });
            const result = await response.json();
            displayResult(result);
        });
        function createButton(highestClass) {
            const button = document.createElement("button");
            button.textContent = "Learn more";
        
            button.onclick = function() {
            window.location.href = "/" + highestClass;
        };
        button.style.backgroundColor = "#336600";
    button.style.color = "white";
    button.style.border = "none";
    button.style.padding = "15px 32px";
    button.style.textAlign = "center";
    button.style.textDecoration = "none";
    button.style.display = "inline-block";
    button.style.fontSize = "16px";
    button.style.margin = "4px 2px";
    button.style.cursor = "pointer";
    //button.className="myButton" //css içinde değiştirmek için
        return button;
    }

        function displayResult(result) {
            const probabilities = result.class_probabilities;
            let output = "<ul>";
            for (const [className, probability] of Object.entries(probabilities)) {
                output += `<li>${className}: %${probability.toFixed(2)}</li>`;
            }
            output += "</ul>";
            resultDiv.innerHTML = output;

            const highestClass = Object.entries(probabilities).reduce((a, b) => b[1] > a[1] ? b : a)[0];
            const button = createButton(highestClass);
            resultDiv.appendChild(button);
        }


        function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }

    </script>
</body>
</html>
