<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MILD DEMENTED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
   
    <div class="red-box">
        <h1>MILD DEMENTED</h1>
        <p>"Mild dementia" typically refers to a stage of dementia where the cognitive decline is noticeable and begins to interfere with daily functioning, but it is not as severe as in later stages of the condition. Dementia itself is an umbrella term for a group of progressive neurological disorders that affect cognitive abilities, memory, behavior, and daily functioning.
            <br><br>
            The symptoms of mild dementia can vary depending on the underlying cause, but some common signs include:</p>
        <ol>
            <li>Memory loss: Individuals may experience difficulty remembering recent events, important dates, or information they previously knew well.</li> 
            <li>Confusion and disorientation: They may become easily disoriented in familiar surroundings, have trouble following directions, or become confused about time, place, or people.</li>
            <li>Language and communication problems: People with mild dementia may struggle to find the right words, have difficulty expressing themselves clearly, or experience challenges with understanding conversations or written information.</li>
            <li>Impaired judgment and decision-making: They may exhibit poor judgment, make impulsive decisions, or have difficulty evaluating risks and consequences.</li>
            <li>Changes in mood and personality: Individuals may experience shifts in mood, such as increased irritability, depression, or anxiety. Personality changes, including becoming more apathetic or withdrawn, can also occur.</li>
            <li>Difficulty with complex tasks: Managing finances, following recipes, or completing tasks that require multiple steps can become challenging.</li>
            <li>Decline in problem-solving skills: Individuals may have trouble solving problems, thinking abstractly, or adapting to new situations.</li>
            <li>Decreased attention and concentration: They may have difficulty focusing on tasks, maintaining attention for extended periods, or staying engaged in conversations.</li>
            <li>Changes in spatial awareness: Problems with depth perception, judging distances, or navigating familiar routes may arise.</li>
        </ol>
    </div>
  
</body>
</html>