<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODERATE DEMENTED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="red-box">
    

        <p> <h1>MODERATE DEMENTED</h1>
           
            Moderate dementia represents a stage in the progression of dementia where the cognitive decline becomes more pronounced and significantly impacts a person's daily life.
            <br><br>
            The symptoms of moderate dementia can vary depending on the specific type of dementia, but here are some common signs:

            
        <ol>
            <li>Memory loss: Individuals with moderate dementia may experience more significant memory loss, including forgetting important personal details, names of family members, or recent events.   </li>
            <li>Confusion and disorientation: They may become increasingly disoriented in time and place. They may struggle to recognize familiar people or places, even within their own home.  </li>
            <li>Difficulty with communication: Expressing thoughts and ideas can become increasingly challenging. They may have trouble finding words, constructing sentences, or following conversations.</li>
       <!--     <li>Impaired problem-solving and decision-making: Individuals may have difficulty with tasks that require planning, organization, and problem-solving abilities. They may struggle with managing finances, handling household responsibilities, or making appropriate decisions.</li>
            <li>Behavioral and psychological changes: Moderate dementia can be accompanied by changes in behavior and personality. Individuals may exhibit agitation, restlessness, or repetitive behaviors. They may also experience mood swings, anxiety, depression, or paranoia. </li>
            <li>Decline in self-care abilities: Personal hygiene, dressing, and grooming may become challenging tasks. Individuals may require assistance with activities of daily living.</li>
           --> <li>Reduced motor skills and coordination: Motor skills can deteriorate, making movements slower and less coordinated. This can result in difficulties with tasks such as writing, using utensils, or buttoning clothing. </li>
            <li>Wandering and getting lost: People with moderate dementia may wander aimlessly and have difficulty finding their way back home. This can pose safety risks and require increased supervision. </li>
            <li>Sleep disturbances: Sleep patterns may become disrupted, with individuals experiencing difficulties falling asleep, staying asleep, or having increased nighttime wakefulness.</li>
            <li>Loss of awareness: Individuals may have decreased awareness of their own abilities and the impact of their condition on their daily life. They may require assistance and supervision to ensure their safety and well-being.</p></li>
        </ol>
    </div>
</body>
</html>