<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NON DEMENTED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="red-box">
        <h1>NON DEMENTED</h1>
        <h2>HOW TO AVOID ALZHEIMER</h2>
        <p>While there is no guaranteed way to prevent dementia, there are several lifestyle choices and habits that may help reduce the risk or delay the onset of dementia. 
            <br>
            Here are some strategies that have been suggested:</p>
        <ol>
           <li>Stay mentally active: Engage in activities that stimulate your brain, such as reading, solving puzzles, learning new skills, or playing musical instruments. Challenging your mind regularly may help maintain cognitive function.</li>
            <li>Stay physically active: Regular exercise has been associated with a reduced risk of dementia. Aim for at least 150 minutes of moderate-intensity aerobic activity per week, along with strength training exercises.</li>
            <li>Maintain a healthy diet: Follow a balanced diet that is rich in fruits, vegetables, whole grains, lean proteins, and healthy fats. Some studies suggest that a Mediterranean-style diet, which emphasizes these food groups, may be particularly beneficial for brain health.</li>
            <li>Control cardiovascular risk factors: Keep your blood pressure, cholesterol levels, and blood sugar levels within healthy ranges. High blood pressure, high cholesterol, and diabetes can increase the risk of dementia, so it's important to manage these conditions through lifestyle modifications and, if necessary, medication.</li>
            <li>Maintain a healthy weight: Obesity in midlife has been linked to an increased risk of dementia. Maintain a healthy weight through a combination of regular exercise and a balanced diet.</li>
            <li>Get quality sleep: Prioritize getting adequate sleep each night. Poor sleep or sleep disorders may increase the risk of cognitive decline. Aim for 7-8 hours of quality sleep per night.</li>
            <li>Stay socially engaged: Maintain an active social life and stay connected with family, friends, and your community. Social interaction and engagement have been associated with better cognitive function.</li>
        </ol>
    </div>
</body>
</html>