<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VERY MILD DEMENTED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

    <div class="red-box">
        <h1>VERY MILD DEMENTED</h1>
        <p>"Mild cognitive impairment" (MCI), as there is no specific medical term called "very mild demented." MCI is a stage between the normal cognitive decline associated with aging and the more pronounced cognitive decline seen in dementia. People with MCI have noticeable cognitive changes that are not severe enough to interfere significantly with their daily activities.</p>
        <p>The symptoms of MCI can vary from person to person but often include:   </p>
        <ol>
            <li>Memory problems: Individuals may experience forgetfulness, especially for recent events or newly acquired information. They may also have difficulty recalling names, appointments, or other important details.</li>
            <li>Language and communication issues: People with MCI may struggle to find the right words during conversations or experience difficulty expressing themselves clearly. They may also have trouble understanding spoken or written language.</li>
            <li>Executive functioning difficulties: MCI can affect a person's ability to plan, organize, and carry out complex tasks. They may have trouble making decisions, multitasking, or managing their finances.</li>
            <li>Attention and concentration problems: Individuals may find it challenging to stay focused or concentrate on tasks for an extended period. They might become easily distracted or struggle with divided attention.</li>
            <li>Visuospatial difficulties: MCI can lead to problems with spatial awareness and visual perception. This may manifest as trouble judging distances, navigating familiar routes, or recognizing objects or faces.</li>
        </ol>
    </div>
  
 
</body>
</html>
